.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 40px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Attributes-container {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 20px;
  row-gap: 20px;
  margin: 25px;
}

.Attributes-boxes {
  border: 3px solid white;
  border-radius: 5px;
  background-color: #46494f;
  padding: 15px 30px;
}

.Footer-input {
  font-weight: bold;
  padding: 5px;
  border-radius: 5px;
  font-size: calc(2vmin);
  margin: 5px;
  width: 40vmin;
  padding: 5px;
}

.Footer-button {
  font-weight: bold;
  padding: 5px 12px;
  border-radius: 5px;
  font-size: calc(2vmin);
  cursor: pointer;
}

.Header-links {
  background-color: #282c34;
  color: white;
  align-items: left;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

a {
  color: #fff;
}

.Review-container {
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 25px;
  float: left;
}

.Review-box {
  border: 3px solid #fff;
  border-radius: 5px;
  background-color: #46494f;
  padding: 15px 30px;
  width: 700px;
  float: left;
}

.Hours-box {
  border: 3px solid #fff;
  border-radius: 5px;
  background-color: rgb(62, 62, 67);
  padding: 15px 30px;
  width: 150px;
  float: left;
  color: #adadad;
}

.Text-ids {
  font-size: 10px;
  color: #adadad;
}

.Text-hours {
  font-size: 12px;
  color: #adadad;
}

.Update-hours-box {
  border: 3px solid #fff;
  border-radius: 5px;
  background-color: rgb(62, 62, 67);
  padding: 15px 30px;
  width: 750px;
  margin: 150px 0px;
  color: #adadad;
}

.Update-hours-dropdown {
  border-radius: 5px;
  width: 125px;
  text-align: center;
  font-weight: bold;
  margin: 10px;
  font-size: 15px;
  padding: 5px 0px;
}

.Insights-text {
  font-size: 20px;
  margin: 50px 20%;
  text-align: left;
  font-style: italic;
}
